desktop.ini

# Python
__pycache__/
*.pyc

# Environment
.env

# Docs
*.docx
BAB_II_F_Kebutuhan_AI.md
data_balita.md
zscore_who_permenkes_2020.md
Guidebook - CCI Intelliweb 2026.md
Guidebook - CCI Intelliweb 2026.pdf
